[Unit]
Description=Mount nfs {{ mount.target }}

[Mount]
What={{ mount.source }}
Where={{ mount.target }}
Type=nfs
Options=soft,relatime,rsize=1048576,wsize=1048576,timeo=3,retrans=2
TimeoutSec=3

[Install]
WantedBy=multi-user.target
