<VirtualHost *:80>
  ServerName {{ vhost.server_name }}
{% if not vhost.http.empty %}
  DocumentRoot {{ vhost.document_root }}
{% else %}
  DocumentRoot {{ webserver_empty_doc_root }}
{% endif %}
{% if vhost.server_alias != '' %}
  ServerAlias {{ vhost.server_alias }}
{% endif %}
{% if vhost.http.redirect != '' %}
  Use RedirectTo{% if '/' in vhost.http.redirect %}Subdir{% endif %} {{ vhost.http.redirect }}
{% endif %}
  LogLevel {{ websserver_log_level }}
{% if vhost.type == 'share' %}
  ErrorLog {{ vhost.home_path }}/{{ vhost.name }}/logs/http_error.log
  CustomLog {{ vhost.home_path }}/{{ vhost.name }}/logs/http_access.log combined env=!dontlog
{% elif vhost.type == 'redirect' %}
  ErrorLog ${APACHE_LOG_DIR}/sites/redirect_http_error.log
  CustomLog ${APACHE_LOG_DIR}/sites/redirect_http_access.log vhost_combined env=!dontlog
{% else %}
  ErrorLog ${APACHE_LOG_DIR}/sites/{{ vhost.name }}_http_error.log
  CustomLog ${APACHE_LOG_DIR}/sites/{{ vhost.name }}_http_access.log combined env=!dontlog
{% endif %}
{% if webserver_log_lastuse %}
  CustomLog ${APACHE_LOG_DIR}/lastuse.fifo lastuse env=!dontloglastuse
{% endif %}
{% if not vhost.http.empty %}
{% if vhost.http.require != '' %}
{% if vhost.http.require == 'wsgi' %}
  <Directory "{{ vhost.document_root }}{{ vhost.http.wsgi.app|dirname|length|ternary('/','') }}{{ vhost.http.wsgi.app|dirname }}">
    <Files "{{ vhost.http.wsgi.app|basename }}">
      Require all granted
    </Files>
  </Directory>
{% for dir in vhost.http.wsgi.static %}
  Alias "/{{ dir|basename }}" "{{ vhost.document_root }}/{{ dir }}"
  <Directory "{{ vhost.document_root }}/{{ dir }}">
    Require all granted
  </Directory>
{% endfor %}
{% else %}
  <Directory {{ vhost.document_root }}>
    {{ (webserver_site_config_common_requires[vhost.http.require]|indent(width=4)).rstrip() }}
  </Directory>
{% endif %}
{% endif %}
{% else %}
  <Location />
    Require all granted
  </Location>
{% endif %}
{% if not vhost.http.empty %}
{% if vhost.name in phpfpm_pool_names %}
  DirectoryIndex index.php index.html
  # Enable http authorization headers
  <IfModule setenvif_module>
    SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
  </IfModule>
  # Use php-fpm socket
  <FilesMatch "\.(?i:php[3457]?)$">
    SetHandler "proxy:unix:/run/php/php7.3-fpm-{{ vhost.name }}.sock|fcgi://localhost"
  </FilesMatch>
{% endif %}
{% if vhost.http.fcgid %}
  DirectoryIndex{% for ext in vhost.http.fcgid %} index.{{ ext }}{% endfor %} index.html
  <IfModule suexec_module>
    SuexecUserGroup {{ vhost.name }} {{ vhost.name }}
  </IfModule>
  # Enable http authorization headers
  <IfModule setenvif_module>
    SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
  </IfModule>
  <Directory {{ vhost.document_root }}>
    Options +ExecCGI
{% for ext in vhost.http.fcgid %}
    AddHandler fcgid-script .{{ ext }}
{% endfor %}
{% for ext in vhost.http.fcgid if ext not in webserver_fcgid_fcgi_extensions %}
    FcgidWrapper {{ vhost.home_path }}/{{ vhost.name }}/fcgid/fcgid-wrapper-{{ ext if ext in webserver_fcgid_custom_wrappers else 'generic' }} .{{ ext }}
{% endfor %}
  </Directory>
{% endif %}
{% if vhost.http.wsgi.app != '' %}
  WSGIDaemonProcess {{ vhost.name }} user={{ vhost.name }} group={{ vhost.name }} processes={{ vhost.http.wsgi.processes }} threads={{ vhost.http.wsgi.threads }} display-name=%{GROUP} home={{ vhost.document_root }}
  WSGIProcessGroup {{ vhost.name }}
  WSGIScriptAlias {{ vhost.http.wsgi.script_alias }} {{ vhost.document_root }}/{{ vhost.http.wsgi.app }}
{% endif %}
{% if vhost.website.type == 'wordpress' %}
  <Directory {{ vhost.document_root }}>
    {{ (webserver_site_config_common_wordpress['rewrite']|indent(width=4)).rstrip() }}
  </Directory>
  <Directory {{ vhost.document_root }}wp-content/plugins/akismet>
    {{ (webserver_site_config_common_wordpress['akismet']|indent(width=4)).rstrip() }}
  </Directory>
{% endif %}
{% endif %}
{% for include in vhost.http.includes %}
  IncludeOptional /etc/apache2/sites-include/{{ include }}.conf
{% endfor %}
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ vhost.server_name }}
{% if not vhost.https.empty %}
  DocumentRoot {{ vhost.document_root }}
{% else %}
  DocumentRoot {{ webserver_empty_doc_root }}
{% endif %}
{% if vhost.server_alias != '' %}
  ServerAlias {{ vhost.server_alias }}
{% endif %}
{% if vhost.https.cert == '' %}
  Use EnableSSL
{% else %}
  Use EnableSSLCert {{ vhost.https.cert }}
{% endif %}
{% if vhost.https.redirect != '' %}
  Use RedirectTo{% if '/' in vhost.https.redirect %}Subdir{% endif %} {{ vhost.https.redirect }}
{% endif %}
  LogLevel {{ websserver_log_level }}
{% if vhost.type == 'share' %}
  ErrorLog {{ vhost.home_path }}/{{ vhost.name }}/logs/https_error.log
  CustomLog {{ vhost.home_path }}/{{ vhost.name }}/logs/https_access.log combined env=!dontlog
{% elif vhost.type == 'redirect' %}
  ErrorLog ${APACHE_LOG_DIR}/sites/redirect_https_error.log
  CustomLog ${APACHE_LOG_DIR}/sites/redirect_https_access.log vhost_combined env=!dontlog
{% else %}
  ErrorLog ${APACHE_LOG_DIR}/sites/{{ vhost.name }}_https_error.log
  CustomLog ${APACHE_LOG_DIR}/sites/{{ vhost.name }}_https_access.log combined env=!dontlog
{% endif %}
{% if webserver_log_lastuse %}
  CustomLog ${APACHE_LOG_DIR}/lastuse.fifo lastuse env=!dontloglastuse
{% endif %}
{% if not vhost.https.empty %}
{% if vhost.type == 'share' %}
  Alias /website-statistics {{ vhost.home_path }}/{{ vhost.name }}/stats
  <Directory {{ vhost.home_path }}/{{ vhost.name }}/stats>
    Use PhysLDAP
    Use RequirePhysLDAPGroup isg
    Use RequirePhysLDAPGroup {{ vhost.name }}
    Options Multiviews Indexes
  </Directory>
{% endif %}
{% if vhost.https.require != '' %}
{% if vhost.https.require == 'wsgi' %}
  <Directory "{{ vhost.document_root }}{{ vhost.https.wsgi.app|dirname|length|ternary('/','') }}{{ vhost.https.wsgi.app|dirname }}">
    <Files "{{ vhost.https.wsgi.app|basename }}">
      Require all granted
    </Files>
  </Directory>
{% for dir in vhost.https.wsgi.static %}
  Alias "/{{ dir|basename }}" "{{ vhost.document_root }}/{{ dir }}"
  <Directory "{{ vhost.document_root }}/{{ dir }}">
    Require all granted
  </Directory>
{% endfor %}
{% else %}
  <Directory {{ vhost.document_root }}>
    {{ (webserver_site_config_common_requires[vhost.https.require]|indent(width=4)).rstrip() }}
  </Directory>
{% endif %}
{% endif %}
{% else %}
  <Location />
    Require all granted
  </Location>
{% endif %}
{% if not vhost.https.empty %}
{% if vhost.name in phpfpm_pool_names %}
  DirectoryIndex index.php index.html
  # Enable http authorization headers
  <IfModule setenvif_module>
    SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
  </IfModule>
  # Use php-fpm socket
  <FilesMatch "\.(?i:php[3457]?)$">
    SetHandler "proxy:unix:/run/php/php7.3-fpm-{{ vhost.name }}.sock|fcgi://localhost"
  </FilesMatch>
{% endif %}
{% if vhost.https.fcgid %}
  DirectoryIndex{% for ext in vhost.https.fcgid %} index.{{ ext }}{% endfor %} index.html
  <IfModule suexec_module>
    SuexecUserGroup {{ vhost.name }} {{ vhost.name }}
  </IfModule>
  # Enable http authorization headers
  <IfModule setenvif_module>
    SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
  </IfModule>
  <Directory {{ vhost.document_root }}>
    Options +ExecCGI
{% for ext in vhost.https.fcgid %}
    AddHandler fcgid-script .{{ ext }}
{% endfor %}
{% for ext in vhost.https.fcgid if ext not in webserver_fcgid_fcgi_extensions %}
    FcgidWrapper {{ vhost.home_path }}/{{ vhost.name }}/fcgid/fcgid-wrapper-{{ ext if ext in webserver_fcgid_custom_wrappers else 'generic' }} .{{ ext }}
{% endfor %}
  </Directory>
{% endif %}
{% if vhost.https.wsgi.app != '' %}
  WSGIDaemonProcess {{ vhost.name }} user={{ vhost.name }} group={{ vhost.name }} processes={{ vhost.https.wsgi.processes }} threads={{ vhost.https.wsgi.threads }} display-name=%{GROUP} home={{ vhost.document_root }}
  WSGIProcessGroup {{ vhost.name }}
  WSGIScriptAlias {{ vhost.https.wsgi.script_alias }} {{ vhost.document_root }}/{{ vhost.https.wsgi.app }}
{% endif %}
{% if vhost.website.type == 'wordpress' %}
  <Directory {{ vhost.document_root }}>
    {{ (webserver_site_config_common_wordpress['rewrite']|indent(width=4)).rstrip() }}
  </Directory>
  <Directory {{ vhost.document_root }}/wp-content/plugins/akismet>
    {{ (webserver_site_config_common_wordpress['akismet']|indent(width=4)).rstrip() }}
  </Directory>
{% endif %}
{% endif %}
{% for include in vhost.https.includes %}
  IncludeOptional /etc/apache2/sites-include/{{ include }}.conf
{% endfor %}
</VirtualHost>

# vim: syntax=apache
