{% for port in vhost.ports %}
<VirtualHost *:{{ webserver_vhost_ports[port].number }}>
  ServerName {{ vhost.server_name }}
{% if not vhost[port].empty %}
  DocumentRoot {{ vhost.document_root }}
{% else %}
  DocumentRoot {{ webserver_empty_doc_root }}
{% endif %}
{% if vhost.server_alias != '' %}
  ServerAlias {{ vhost.server_alias }}
{% endif %}
{% if webserver_vhost_ports[port].tls %}
{%   if vhost.cert == '' %}
{%     if webserver_letsencrypt_aliases | length > 1 %}
  Use EnableSSLCert {{ (webserver_letsencrypt_aliases | selectattr('domains', 'contains', vhost.server_name) | first).name }}
{%     else %}
  Use EnableSSL
{%     endif %}
{%   else %}
  Use EnableSSLCert {{ vhost.cert }}
{%   endif %}
{% endif %}
{% if vhost[port].redirect != '' %}
  Use RedirectTo{% if vhost[port].redirect.count(' ') == 2 %}Subdir{% endif %} {{ vhost[port].redirect }}
{% endif %}
  LogLevel {{ webserver_log_level }}
{% if vhost.type == 'share' %}
  ErrorLog {{ vhost.home_path }}/{{ vhost.name }}/logs/{{ port }}_error.log
  CustomLog {{ vhost.home_path }}/{{ vhost.name }}/logs/{{ port }}_access.log combined env=!dontlog
{% elif vhost.type == 'redirect' %}
  ErrorLog ${APACHE_LOG_DIR}/sites/redirect_{{ port }}_error.log
  CustomLog ${APACHE_LOG_DIR}/sites/redirect_{{ port }}_access.log vhost_combined env=!dontlog
{% else %}
  ErrorLog ${APACHE_LOG_DIR}/sites/{{ vhost.name }}_{{ port }}_error.log
  CustomLog ${APACHE_LOG_DIR}/sites/{{ vhost.name }}_{{ port }}_access.log combined env=!dontlog
{% endif %}
{% if webserver_log_lastuse %}
  CustomLog ${APACHE_LOG_DIR}/lastuse.fifo lastuse env=!dontloglastuse
{% endif %}
{% if not vhost[port].empty %}
{%   if port == 'https' and vhost.type == 'share' %}
  Alias /website-statistics {{ vhost.home_path }}/{{ vhost.name }}/stats
  <Directory {{ vhost.home_path }}/{{ vhost.name }}/stats>
    Use PhysLDAP
    Use RequirePhysLDAPGroup isg
    Use RequirePhysLDAPGroup {{ vhost.name }}
    Options Multiviews Indexes
  </Directory>
{%   endif %}
{%   if vhost[port].require != '' %}
{%     if port in vhost.wsgi.ports and vhost.wsgi.app != '' %}
  <Directory "{{ vhost.document_root }}{{ vhost.wsgi.app|dirname|length|ternary('/','') }}{{ vhost.wsgi.app|dirname }}">
    <Files "{{ vhost.wsgi.app|basename }}">
      Require all granted
    </Files>
  </Directory>
{%       for dir in vhost.wsgi.static %}
  Alias "/{{ dir|basename }}" "{{ vhost.document_root }}/{{ dir }}"
  <Directory "{{ vhost.document_root }}/{{ dir }}">
    Require all granted
  </Directory>
{%       endfor %}
{%     else %}
  <Directory {{ vhost.document_root }}>
{%       if vhost[port].require == 'default' %}
    {{ (webserver_site_config_common_requires[webserver_site_config_default_requires[vhost.type]]|indent(width=4)).rstrip() }}
{%       else %}
    {{ (webserver_site_config_common_requires[vhost[port].require]|indent(width=4)).rstrip() }}
{%       endif %}
  </Directory>
{%     endif %}
{%   endif %}
{% else %}
{%   if vhost[port].require != '' %}
  <Location />
{%       if vhost[port].require == 'default' %}
    {{ (webserver_site_config_common_requires['require_all_granted']|indent(width=4)).rstrip() }}
{%       else %}
    {{ (webserver_site_config_common_requires[vhost[port].require]|indent(width=4)).rstrip() }}
{%       endif %}
  </Location>
{%   endif %}
{% endif %}
{% if not vhost[port].empty %}
{%   if vhost.name in phpfpm_pool_names %}
  DirectoryIndex index.php index.html
  # Enable http authorization headers
  <IfModule setenvif_module>
    SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
  </IfModule>
  # Use php-fpm socket
  <FilesMatch "\.(?i:php[3457]?)$">
    SetHandler "proxy:unix:/run/php/php{{ _webserver_php_version }}-fpm-{{ vhost.name }}.sock|fcgi://localhost"
  </FilesMatch>
{%   endif %}
{%   if port in vhost.fcgid.ports and vhost.fcgid.extensions %}
  DirectoryIndex{% for ext in vhost.fcgid.extensions %} index.{{ ext }}{% endfor %} index.html
  <IfModule suexec_module>
    SuexecUserGroup {{ vhost.name }} {{ vhost.name }}
  </IfModule>
  # Enable http authorization headers
  <IfModule setenvif_module>
    SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
  </IfModule>
  <Directory {{ vhost.document_root }}>
    Options +ExecCGI
{%     for ext in vhost.fcgid.extensions %}
    AddHandler fcgid-script .{{ ext }}
{%     endfor %}
{%     for ext in vhost.fcgid.extensions if ext not in webserver_fcgid_fcgi_extensions %}
    FcgidWrapper {{ vhost.home_path }}/{{ vhost.name }}/fcgid/fcgid-wrapper-{{ ext if ext in webserver_fcgid_custom_wrappers else 'generic' }} .{{ ext }}
{%     endfor %}
  </Directory>
{%   endif %}
{%   if port in vhost.wsgi.ports and vhost.wsgi.app != '' %}
{%     if vhost.wsgi.ports | first == port %}
{%       if vhost.wsgi.venv %}
  WSGIDaemonProcess {{ vhost.name }} user={{ vhost.name }} group={{ vhost.name }} processes={{ vhost.wsgi.processes }} threads={{ vhost.wsgi.threads }} display-name=%{GROUP} home={{ vhost.document_root }} lang={{ vhost.wsgi.locale }} locale={{ vhost.wsgi.locale }} python-home={{ vhost.document_root }}/{{ vhost.wsgi.venv_path }}
{%       else %}
  WSGIDaemonProcess {{ vhost.name }} user={{ vhost.name }} group={{ vhost.name }} processes={{ vhost.wsgi.processes }} threads={{ vhost.wsgi.threads }} display-name=%{GROUP} home={{ vhost.document_root }} lang={{ vhost.wsgi.locale }} locale={{ vhost.wsgi.locale }}
{%       endif %}
{%     endif %}
  WSGIProcessGroup {{ vhost.name }}
{%     if vhost.wsgi.application_group != '' %}
  WSGIApplicationGroup {{ vhost.wsgi.application_group }}
{%     endif %}
  WSGIScriptAlias {{ vhost.wsgi.script_alias }} {{ vhost.document_root }}/{{ vhost.wsgi.app }}
{%   endif %}
{%   if vhost.website.type == 'wordpress' %}
  <Directory {{ vhost.document_root }}>
    {{ (webserver_site_config_common_wordpress['rewrite']|indent(width=4)).rstrip() }}
  </Directory>
  <Directory {{ vhost.document_root }}/wp-content/plugins/akismet>
    {{ (webserver_site_config_common_wordpress['akismet']|indent(width=4)).rstrip() }}
  </Directory>
{%   endif %}
{% endif %}
{% if vhost[port].config %}
  {{ (vhost[port].config|indent(width=2)).rstrip() }}
{% endif %}
{% for include in vhost[port].includes %}
  IncludeOptional /etc/apache2/sites-include/{{ include }}.conf
{% endfor %}
</VirtualHost>

{% endfor %}
# vim: syntax=apache
