{% if webserver_https_hsts %}
Header always set Strict-Transport-Security "max-age={{ webserver_https_hsts_max_age }}; includeSubDomains{{ webserver_https_hsts_preload|ternary('; preload', '') }}"
{% endif %}
Header always set X-Frame-Options DENY
Header always set X-Content-Type-Options nosniff
Header always set X-XSS-Protection "1; mode=block"

# only allow secure cookies
Header edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure

# hide server info
ServerTokens Prod
ServerSignature Off

# disable track and trace http methods
TraceEnable Off

# hide MacOSX special files like `.DS_Store`
<FilesMatch "^\.DS">
    Require all denied
</FilesMatch>

# hide ssh directory
<DirectoryMatch "^\.ssh|\/\.ssh" >
    Require all denied
</DirectoryMatch>

# hide vcs
<FilesMatch "^\.git">
    Require all denied
</FilesMatch>
<FilesMatch "^\.hg">
    Require all denied
</FilesMatch>
<DirectoryMatch "^\.git|\/\.git">
    Require all denied
</DirectoryMatch>
<DirectoryMatch "^\.hg|\/\.hg">
    Require all denied
</DirectoryMatch>
<DirectoryMatch "^\.svn|\/\.svn">
    Require all denied
</DirectoryMatch>
<DirectoryMatch "^\CVS|\/CVS">
    Require all denied
</DirectoryMatch>
<DirectoryMatch "^\_darcs|\/_darcs">
    Require all denied
</DirectoryMatch>
