<IfModule ldap_module>
    LDAPTrustedGlobalCert CA_BASE64 {{ webserver_ldap_trusted_ca_cert }}
    LDAPVerifyServerCert On
    LDAPTrustedMode TLS
    LDAPSharedCacheSize 500000
    LDAPCacheEntries 1024
    LDAPCacheTTL 600
    LDAPOpCacheEntries 1024
    LDAPOpCacheTTL 600

    <Macro PhysLDAP>
        AuthType Basic
        AuthName "{{ webserver_ldap_phys_name }}"
        AuthBasicProvider ldap
        AuthLDAPURL "{{ webserver_ldap_phys_url }}" TLS
        AuthLDAPGroupAttribute memberUid
        AuthLDAPGroupAttributeIsDN off
    </Macro>

    <Macro RequirePhysLDAPGroup $groupname>
        Require ldap-group {{ webserver_ldap_phys_group_cn }}
    </Macro>
{% if webserver_ldap_ethz %}

    <Macro ETHLDAP>
        AuthType Basic
        AuthName "{{ webserver_ldap_ethz_name }}"
        AuthBasicProvider ldap
        AuthLDAPUrl "{{ webserver_ldap_ethz_url }}"
        AuthLDAPBindDN "{{ webserver_ldap_ethz_bind_dn }}"
        AuthLDAPBindPassword "{{ webserver_ldap_ethz_bind_password }}"
        SetEnv dontloglastuse
    </Macro>
{% endif %}
</IfModule>
