# macro to bind vhosts to authentik via OIDC
#
# parameters:
# $hostname: must match the redirect URIs in the authentik provider
# $slug: from the authentik application
# $client_id: from the authentik provider
# $client_secret: from the authentik provider
# $crypto_passphrase: generate via `head /dev/urandom | tr -dc A-Za-z0-9 | head -c 32`

<IfModule auth_openidc_module>
    # Global OIDC settings (shared cache, etc.)
    OIDCCacheType file
    OIDCCacheDir {{ webserver_oidc_cache_dir }}
    OIDCCacheFileCleanInterval 120
    OIDCSessionInactivityTimeout 3600
    OIDCSessionMaxDuration 86400

    <Macro PhysOIDC $hostname $slug $client_id $client_secret $crypto_passphrase>
        # Provider config (per-app)
        OIDCProviderMetadataURL https://auth.phys.ethz.ch/application/o/$slug/.well-known/openid-configuration
        OIDCClientID $client_id
        OIDCClientSecret $client_secret

        # Session/cookie settings (per-app)
        OIDCRedirectURI https://$hostname/oidc/callback
        OIDCCryptoPassphrase $crypto_passphrase
        OIDCScope "openid profile email groups"

        # Pass claims as environment variables
        OIDCClaimPrefix OIDC_
        OIDCRemoteUserClaim preferred_username
        OIDCPassClaimsAs environment

        SetEnv PHYS_OIDC_AUTH_LOG 1
    </Macro>

    <Macro RequirePhysOIDCGroup $groupname>
        Require claim groups:$groupname
    </Macro>
</IfModule>
