#ServerRoot "/etc/apache2"
#Mutex file:${APACHE_LOCK_DIR} default
DefaultRuntimeDir ${APACHE_RUN_DIR}
PidFile ${APACHE_PID_FILE}
Timeout 300
KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 5
User ${APACHE_RUN_USER}
Group ${APACHE_RUN_GROUP}
HostnameLookups Off
ErrorLog ${APACHE_LOG_DIR}/error.log
LogLevel {{ webserver_apache2_log_level }}
IncludeOptional mods-enabled/*.load
IncludeOptional mods-enabled/*.conf
Include ports.conf
# Deny all access by default
<Directory />
  Options FollowSymLinks
  AllowOverride None
  Require all denied
</Directory>
<Directory /usr/share>
  AllowOverride None
  Require all denied
</Directory>
<Directory /var/www>
  Options Indexes FollowSymLinks
  AllowOverride None
  Require all denied
</Directory>
# Deny all hidden directories
<DirectoryMatch "^\.|\/\.">
  Options None
  AllowOverride None
  Require all denied
</DirectoryMatch>
# Deny all hidden files
<FilesMatch "^\.">
  Require all denied
</FilesMatch>
AccessFileName .htaccess
<FilesMatch "^\.ht">
  Require all denied
</FilesMatch>
LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O %I %D \"%{Referer}i\" \"%{User-Agent}i\" %{SSL_PROTOCOL}x %{SSL_CIPHER}x %{SSL_SESSION_RESUMED}x" vhost_combined_tls
LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O %I %D \"%{Referer}i\" \"%{User-Agent}i\"" vhost_combined
LogFormat "%h %l %u %t \"%r\" %>s %O %I %D \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %O %I %D" common
LogFormat "%u %v %>s %h" lastuse
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent
# Access log of main server
CustomLog ${APACHE_LOG_DIR}/access.log combined
# Access log of main server and all vhosts
<IfModule !ssl_module>
  GlobalLog ${APACHE_LOG_DIR}/global/access.log vhost_combined env=!dontlogglobal
</IfModule>
<IfModule ssl_module>
  GlobalLog ${APACHE_LOG_DIR}/global/access.log vhost_combined_tls env=!dontlogglobal
</IfModule>
Define doc_root {{ webserver_doc_root }}
Define empty_doc_root {{ webserver_empty_doc_root }}
ServerAdmin {{ webserver_server_admin }}
IncludeOptional conf-enabled/*.conf
IncludeOptional sites-enabled/*.conf

# vim: syntax=apache
