#ServerRoot "/etc/apache2"
#Mutex file:${APACHE_LOCK_DIR} default
DefaultRuntimeDir ${APACHE_RUN_DIR}
PidFile ${APACHE_PID_FILE}
Timeout 300
KeepAlive On
MaxKeepAliveRequests 100
KeepAliveTimeout 5
User ${APACHE_RUN_USER}
Group ${APACHE_RUN_GROUP}
HostnameLookups Off
ErrorLog ${APACHE_LOG_DIR}/error.log
LogLevel warn
IncludeOptional mods-enabled/*.load
IncludeOptional mods-enabled/*.conf
Include ports.conf
# Deny all access by default
<Directory />
  Options None
  AllowOverride None
  Require all denied
</Directory>
<Directory /usr/share>
  Options None
  AllowOverride None
  Require all denied
</Directory>
<Directory /var/www>
  Options None
  AllowOverride None
  Require all denied
</Directory>
# Deny all hidden directories
<DirectoryMatch "^\.|\/\.">
  Options None
  AllowOverride None
  Require all denied
</DirectoryMatch>
# Deny all hidden files
<FilesMatch "^\.">
  Require all denied
</FilesMatch>
AccessFileName .htaccess
<FilesMatch "^\.ht">
  Require all denied
</FilesMatch>
# vhost_combined including TLS data
LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" %D %{SSL_PROTOCOL}x %{SSL_CIPHER}x %{SSL_SESSION_RESUMED}x" vhost_combined_tls
# reduced log entry for LastUse database with virtual host
LogFormat "%u %v %>s %h" lastuse
# Default apache2 log formats
LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" vhost_combined
LogFormat "%h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %O" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent
CustomLog ${APACHE_LOG_DIR}/access.log combined
<IfModule !ssl_module>
  GlobalLog ${APACHE_LOG_DIR}/global.log vhost_combined env=!dontlogglobal
</IfModule>
<IfModule ssl_module>
  GlobalLog ${APACHE_LOG_DIR}/global.log vhost_combined_tls env=!dontlogglobal
</IfModule>
IncludeOptional conf-enabled/*.conf
IncludeOptional sites-enabled/*.conf
<IfModule !env_module>
  Error "mod_env is required. To enable it run:  a2enmod env"
</IfModule>
PassEnv doc_root
PassEnv empty_doc_root
{% if webserver_webshare %}
PassEnv webshare_doc_root
{% endif %}
ServerAdmin {{ webserver_server_admin }}

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
