[Unit]
Description=appserver {{ item.name }}
{% for line in item.unit_extra | default([]) %}
{{ line }}
{% endfor %}

[Service]
Type=simple
User={{ item.user | default(item.name) }}
Group={{ item.user | default(item.name) }}
PrivateTmp=true
{% if not 'WorkingDirectory' in '\n'.join(item.service_extra | default([])) %}
WorkingDirectory=/home/{{ item.name }}/private/
{% endif %}
{% if not 'ExecStart' in '\n'.join(item.service_extra | default([])) %}
ExecStart=/home/{{ item.name }}/private/venv/bin/{{ item.server }} \
    --workers=1 \
    --host=127.0.0.1 \
    --port={{ item.port }} \
    --ws=none \
    {{ item.app }}:app
{% endif %}
RestartSec=10
Restart=always
{% for line in item.service_extra | default([]) %}
{{ line }}
{% endfor %}

[Install]
WantedBy=multi-user.target
