{% if vhost.backend_config %}
{{ vhost.backend_config.rstrip() }}

{% endif %}
{% if vhost.http_port %}
server {
    listen {{ vhost.http_port }};
    listen [::]:{{ vhost.http_port }};
    server_name {{ vhost.server_name }}{% if vhost.server_alias|length > 0 %} {{ vhost.server_alias|join(' ') }}{% endif %};
    location /.well-known/acme-challenge/ {
        root /var/www/html;
        autoindex off;
        try_files $uri $uri/ =404;
    }
{% if vhost.http_config %}
    {{ (vhost.http_config|indent(width=4)).rstrip() }}
{% else %}
    location / {
        return 301 https://{{ vhost.server_name }}$request_uri;
    }
{% endif %}
}

{% endif %}
{% if vhost.https_port %}
{% for domain in vhost.server_alias %}
server {
    listen {{ vhost.https_port }} ssl http2;
    listen [::]:{{ vhost.https_port }} ssl http2;
    include snippets/https-{{ (webserver_letsencrypt_aliases[0]['name'])|default('le0') }}.conf;
    server_name {{ domain }};
    location /.well-known/acme-challenge/ {
        root /var/www/html;
        autoindex off;
        try_files $uri $uri/ =404;
    }
    location / {
        return 301 https://{{ vhost.server_name }}$request_uri;
    }
}

{% endfor %}
server {
    listen {{ vhost.https_port }} ssl http2;
    listen [::]:{{ vhost.https_port }} ssl http2;
    include snippets/https-{{ (webserver_letsencrypt_aliases[0]['name'])|default('le0') }}.conf;
    server_name {{ vhost.server_name }};
    location /.well-known/acme-challenge/ {
        root /var/www/html;
        autoindex off;
        try_files $uri $uri/ =404;
    }
{% if vhost.config %}
    {{ (vhost.config|indent(width=4)).rstrip() }}
{% endif %}
}

{% endif %}
