<IfModule ssl_module>
    SSLEngine on
{% if webserver_https_certificate_ecdsa %}
    SSLCertificateFile {{ webserver_letsencrypt_path }}/{{ cert_name }}.ecdsa.crt
    SSLCertificateKeyFile {{ webserver_letsencrypt_path }}/{{ cert_name }}.ecdsa.key
{% endif %}
{% if webserver_https_certificate_rsa %}
    SSLCertificateFile {{ webserver_letsencrypt_path }}/{{ cert_name }}.rsa.crt
    SSLCertificateKeyFile {{ webserver_letsencrypt_path }}/{{ cert_name }}.rsa.key
{% endif %}
</IfModule>
