{% for vhost in _vhosts|selectattr('type', 'equalto', 'share')|list %}
{{ vhost.data_path }}/{{ vhost.name }}/logs/*.log
{% endfor %}
{% if _vhosts|selectattr('type', 'equalto', 'share')|list %}
{
	weekly
	missingok
	rotate 52
	compress
	delaycompress
	ifempty
	create 644 root root
	sharedscripts
}

{% endif %}
/var/log/apache2/sites/*.log
{
	weekly
	missingok
	rotate 52
	compress
	delaycompress
	ifempty
	create 640 root adm
	sharedscripts
}

/var/log/apache2/global/*.log {
	daily
	missingok
	rotate 365
	compress
	delaycompress
	ifempty
	create 640 root adm
	sharedscripts
}

/var/log/apache2/*.log {
	daily
	missingok
	rotate 14
	compress
	delaycompress
	ifempty
	create 640 root adm
	sharedscripts
	postrotate
        if service apache2 status > /dev/null 2>&1; then \
            service apache2 reload > /dev/null 2>&1; \
        fi; \
	endscript
}
