{% if webserver_https_hsts %}
add_header Strict-Transport-Security "max-age={{ webserver_https_hsts_max_age }}; includeSubDomains{{ webserver_https_hsts_preload|ternary('; preload', '') }}";
{% endif %}
{% if webserver_header_security_x_frame_options %}
add_header X-Frame-Options {{ webserver_header_security_x_frame_options }};
{% endif %}
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block";
