{% if webserver_https_certificate_ecdsa %}
ssl_certificate /opt/letsencrypt/{{ name }}.ecdsa.crt;
ssl_certificate_key /opt/letsencrypt/{{ name }}.ecdsa.key;
{% endif %}
{% if webserver_https_certificate_rsa %}
ssl_certificate /opt/letsencrypt/{{ name }}.rsa.crt;
ssl_certificate_key /opt/letsencrypt/{{ name }}.rsa.key;
{% endif %}
