{% if webserver_https_certificate_ecdsa %}
ssl_certificate /opt/letsencrypt/{{ certname }}.ecdsa.crt;
ssl_certificate_key /opt/letsencrypt/{{ certname }}.ecdsa.key;
{% endif %}
{% if webserver_https_certificate_rsa %}
ssl_certificate /opt/letsencrypt/{{ certname }}.rsa.crt;
ssl_certificate_key /opt/letsencrypt/{{ certname }}.rsa.key;
{% endif %}
