ssl_certificate /opt/letsencrypt/{{ name }}.ecdsa.crt;
ssl_certificate_key /opt/letsencrypt/{{ name }}.ecdsa.key;
ssl_certificate /opt/letsencrypt/{{ name }}.rsa.crt;
ssl_certificate_key /opt/letsencrypt/{{ name }}.rsa.key;
