[Service]
Restart=always

[Unit]
{% if webserver_service_start_after_network_online %}
After=network-online.target
{% endif %}
{% if 'suexec' in webserver_modules_custom %}
After=nss-user-lookup.target
{% endif %}
